 <footer class="footer has-background-black">
        <div class="content has-text-centered">
          <img src="/images/MwF-alt-logo.png" alt="Movies with Friends mini logo" style="width: 150px;">
          <p class="is-size-6 has-text-grey-lighter">
            <strong>Movies with Friends &copy;2024</strong>
          </p>
        </div>
      </footer>