{{#each this}}
 <div class="m-3 card" style="width: 80%">
  
   <div class="card-body">
     <h5 class="card-title m-1">{{title}} </h5>
     <p class="card-text m-3" style="padding: 0;">{{review}} </p>
           <p class="card-text" style="color: grey"> @ {{user.user_name}}</p>
     <p class="card-text"> rating: {{rating}}</p>
    
   </div>
 </div>
 {{/each}}