<!--User Header-->
<section class="py-3 pl-3 has-background-black container-spacing">
  <h3 class="is-size-4 has-text-light">Welcome,
    <!--Replace programmatically with user avatar--><i
      class="fa-solid fa-ticket"
    ></i>&emsp;<img
      src="/public/images/pac-danger.png"
      alt="user avatar"
      class="inline-image"
    />
    <span class="chennai">{{username}}!</span></h3>
</section>