<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Content</title>
    <!-- Add your CSS stylesheets or CDN links here -->
</head>

<body>
    <div id="genres-display"></div>
    <div id="genre-display"></div>
    <div id="phase-display"></div>
    <div id="current-month-display"></div>
    <div id="action-text"></div>
    <div id="winning-movie-display"></div>


    <!-- Other HTML content -->
<script src="../../public/javascript/phase.js"></script>

</body>
</html>