<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Movies with Friends</title>
  <link rel="stylesheet" href="https://use.typekit.net/paw5dsc.css">
 <!-- <link rel="stylesheet" href="/css/jass.css"> -->
  <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  
  <button id="voteButton" onclick="generateGenresList()">vote</button>
  <ul id="genresList">
    <li><a href="#">Action</a></li>
    <li><a href="#">Comedy</a></li>
    <li><a href="#">Horror</a></li>
    <li><a href="#">Thriller</a></li>
    <li><a href="#">Family Films</a></li>
    <li><a href="#">Classics</a></li>
    <li><a href="#">Drama</a></li>
    <li><a href="#">Action</a></li>
  </ul>
 
  <button><a href="commentPage.html">Discussion Board</a></button>
  
<script src="../../controllers/api/motn.js"></script>
</body>
</body>