<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Movies with Friends</title>
  <link rel="stylesheet" href="https://use.typekit.net/paw5dsc.css">
 <!-- <link rel="stylesheet" href="/css/jass.css"> -->
  <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
<div class="movieModal">
<ul class="dropdown">
  <li class="click" data-value="byGen/Action"><a href="#">Action</a></li>
  <li class="click" data-value="byGen/Adventure"><a href="#">Adventure</a></li>
  <li class="click" data-value="byGen/Comedy"><a href="#">Comedy</a></li>
  <li class="click" data-value="byGen/Crime"><a href="#">Crime</a></li>
  <li class="click" data-value="byGen/Drama"><a href="#">Drama</a></li>
  <li class="click" data-value="byGen/Fantasy"><a href="#">Fantasy</a></li>
  <li class="click" data-value="byGen/Family"><a href="#">Family</a></li>
  <li class="click" data-value="byGen/Horror"><a href="#">Horror</a></li>
  <li class="click" data-value="byGen/Mystery"><a href="#">Mystery</a></li>
  <li class="click" data-value="byGen/Romance"><a href="#">Romance</a></li>
  <li class="click" data-value="byGen/Sci-Fi"><a href="#">Sci-Fi</a></li>
</ul>
</div>



<script src="../../controllers/motn.js"></script>
</body>