<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Movies with Friends</title>
  <link rel="stylesheet" href="https://use.typekit.net/paw5dsc.css">
 <!-- <link rel="stylesheet" href="/css/jass.css"> -->
  <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
<button onclick="toggle()">add discussion</button>
<br>
<div id="popup">
<input type="text" placeholder="name of discussion" id="discussionName">
<br>
<button>create</button>
</div>

<script src="../../public/javascript/dom.js"></script>
</body>
