<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Movies with Friends</title>
  <link rel="stylesheet" href="https://use.typekit.net/paw5dsc.css">
 <!-- <link rel="stylesheet" href="/css/jass.css"> -->
  <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body class="has-background-dark">
    <header class="has-background-black test">
        <div>
            <img src="/public/images/mob/Theater-w-logo-mob.png" alt="Movies with Friends mobile header" class="image mobile-image centered-image" />
            <img src="/public/images/des/MwF-logo-hor-des.png"> 
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                <!-- Conditionally render login or logout links -->
                {{#if logged_in}}
                    <ul>
                        <li>My profile</li>
                        <li>Friends' profiles</li>
                        <hr>
                        <li>About Movies with Friends</li>
                        <li>Contact Us</li>
                        <hr>
                        <li>Sign out</li>
                    </ul>
                {{/if}}
                {{else}}
                    <ul>
                        <li>Sign in</li>
                        <li>Sign up</li>
                        <hr>
                        <li>About Movies with Friends</li>
                        <li>Contact Us</li>
                    </ul>
                {{else}}
                </div>
              </nav>
        </div> 
     
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>

  {{/if}}
</body>

</html>
