<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Movies with Friends</title>
  <link rel="stylesheet" href="https://use.typekit.net/paw5dsc.css">
 <!-- <link rel="stylesheet" href="/css/jass.css"> -->
  <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body class="is-dark">
    
<section class="hero is-black is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <!--connect to home-->
            <a class="navbar-item">
              <img src= "/public/images/MwF-alt-logo.png" alt="Movies with Friends">
            </a>
            <span class="navbar-burger is-light" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item">
                Member Sign in
              </a>
              <a class="navbar-item ">
                Sign up
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                About Movies with Friends
              </a>
              <a class="navbar-item">
                Contact Us
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body theater">
      <div class="container has-text-centered pt-5 px-6">
        <section class="top-start">
            <h1 class="is-size-3-mobile is-size-2-tablet is-size-2-desktop">You might want to join <br /> <span class="chennai">Movies with Friends</span> if...</h1>
        </section>
        <section>
         <p class="is-size-5-mobile is-size-4-tablet is-size-4-desktop"><span><i class="fa-solid fa-people-line is-size-2 mt-5"></i></span><br />You love to watch movies AND discuss them with other people.</p>
        </section>
        <section>
            <p class="is-size-5-mobile is-size-4-tablet is-size-4-desktop"><span><i class="fa-solid fa-pen-to-square is-size-2 mt-5"></i></span><br />You like to read and write reviews on major movie websites.</p> 
        </section>
        <section>
            <p class="is-size-5-mobile is-size-4-tablet is-size-4-desktop"><span><i class="fa-solid fa-share-nodes is-size-2 mt-5"></i></span><br />You post about movies you have watched on other social media platforms, but not everyone shares your passion for analysis or has watched the same films.</p>
        </section>
      </div>
    </div>
  
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        <container class="has-text-centered px-7 pb-7 mx-auto">
            <div class="column">
                <p class="is-size-5-mobile is-size-4-tablet is-size-4-desktop has-text-warning">Sign up for <span class="chennai">Movies with Friends</span> today and join the conversation!</p>
        </div>
        <div id ="entry-buttons" class="column">
            <a class="button m-2 hero-button is-danger">Sign Up</a>
            <a class="button m-2 hero-button is-danger is-outlined">Member Sign In</a>
        </div>
        </container>
       
    </div>
  </section>

  <script src="https://kit.fontawesome.com/76aa510a07.js" crossorigin="anonymous"></script>
</body>

</html>