<!--This file will serve as the main.handlebars-->
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Movies with Friends</title>
    <link rel="stylesheet" href="https://use.typekit.net/paw5dsc.css" />
    <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css" />
    <!-- <link rel="stylesheet" href="/css/jass.css"> -->
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <nav>
    <a href="/"><h1 class="title is-1">Home</h1></a>

<body class="has-background-dark">
    
<section>
  <!--navigation-->
      <nav class="navbar main-menu">
        <div class="container">
          <div class="navbar-brand">
            <!--connect to home-->
            <a class="navbar-item">
              <img src= "/images/des/MwF-logo-hor-des.png" alt="Movies with Friends" height="100px">
            </a>
            <span class="navbar-burger has-text-light" data-target="navbarMenuMain">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuMain" class="navbar-menu has-text-light">
            <div class="navbar-end">
              <!--{{#if logged_in}} -->
              <a class="navbar-item">
                My profile
              </a>
              <a class="navbar-item ">
                Friends
              </a>
              <!--{{/if}} -->
              <hr class="navbar-divider">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
                Contact Us
              </a>
              <!--{{#if logged_in}} -->
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Sign out
              </a>
             <!--{{/if}} -->
            </div>
          </div>
        </div>
      </nav>
    </div>
  
    <main id="main-body">
       <!-- Render the sub layout -->
       {{{ body }}} 
      </main>

      <footer class="footer has-background-black">
        <div class="content has-text-centered">
          <img src="/images/MwF-alt-logo.png" alt="Movies with Friends mini logo" style="width: 150px;">
          <p class="is-size-4 has-text-grey-light">
            <strong>Movies with Friends &copy;2024</strong>
          </p>
  
  <script src="/javascript/mwf-misc.js"></script>
  <script src="/javascript/phase.js"></script>
  <script src="https://kit.fontawesome.com/76aa510a07.js" crossorigin="anonymous"></script>
</body>

</html>

</html>