<!--This file will serve as the main.handlebars-->
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Movies with Friends</title>
    <link rel="stylesheet" href="https://use.typekit.net/paw5dsc.css" />
    <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css" />
    <!-- <link rel="stylesheet" href="/css/jass.css"> -->
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
 
<body class="has-background-dark">
    
    <main id="main-body">
       <!-- Render the sub layout -->
       {{{ body }}} 
      </main>

      {{> footer }}
  
  <script src="/javascript/mwf-misc.js"></script>
  <script src="/javascript/phase.js"></script>
  <script src="https://kit.fontawesome.com/76aa510a07.js" crossorigin="anonymous"></script>
</body>

</html>

