<!--index.html will go here -->
<!--This file will serve as the welcome.handlebars. Including the main/index code so it will display-->

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Movies with Friends</title>
    <link rel="stylesheet" href="https://use.typekit.net/paw5dsc.css" />
    <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css" />
    <!-- <link rel="stylesheet" href="/css/jass.css"> -->
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <nav>
    <a href="/"><h1 class="title is-1">Home</h1></a>

  </nav>
  <body class="is-dark">
    {{{body}}}
  </body>

</html>