<!--This file will serve as the welcome.handlebars. Including the main/index code so it will display-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Movies with Friends</title>

  <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.typekit.net/paw5dsc.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body class="is-dark">
    
<section class="has-background-dark">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <!--connect to home-->
            <a class="navbar-item">
              <img src= "/public/images/MwF-alt-logo.png" alt="Movies with Friends">
            </a>
            <span class="navbar-burger is-light" data-target="navbarMenuMain">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuMain" class="navbar-menu">
            <div class="navbar-end">
              <!--{{#if logged_in}} -->
              <a class="navbar-item">
                My profile
              </a>
              <a class="navbar-item ">
                Friends' profiles
              </a>
              <!--{{/if}} -->
              <hr class="navbar-divider">
              <a class="navbar-item">
                About Movies with Friends
              </a>
              <a class="navbar-item">
                Contact Us
              </a>
              <!--{{#if logged_in}} -->
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Sign out
              </a>
             <!--{{/if}} -->
            </div>
          </div>
        </div>
      </nav>
    </div>
  
    <main id="main-body">
      <!--WELCOME PAGE BEGINS-->
       <!-- Render the welcome.handlebars -->
       <h3 class="is-size-4"><span class= "chennai">Welcome, {{username}}!</span></h1>
        <h1 class="has-text-light has-shadow is-size-2">{{current-month}} is {{genre}} month!</h1>
        <h2 class="is-size-3">Right now we are <span id="phase-display"></span></h2>
      </main>
  
  <script src="/public/javascript/mwf-misc.js"></script>
  <script src="/public/javascript/phase.js"></script>
  <script src="https://kit.fontawesome.com/76aa510a07.js" crossorigin="anonymous"></script>
</body>

</html>