<!--This file will serve as the welcome.handlebars. Including the main/index code so it will display-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Movies with Friends</title>

  <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.typekit.net/paw5dsc.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body class="is-dark">
    

  
    <main id="main-body" class="has-text-light test">
      <!--WELCOME PAGE BEGINS-->
       <!-- Render the welcome.handlebars -->
       
       <!--User Header-->
       <section class="py-3 pl-3 has-background-black container-spacing">
       <h3 class="is-size-4  has-text-light">Welcome, <img src="/public/images/pac-danger.png" alt="user avatar" class="inline-image" /> <span class= "chennai">{{username}}!</span></h3>
       </section>

       <!--Group Stage-->
       
       <section class="section">
        <div class="container has-text-centered">
            <div class="columns is-centered is-vcentered">
                <div class="column is-full-width has-background-black">
                    <h1 class="is-size-1 my-4 em;"><span id="current-month-display"></span> is <span id="genre-display"></span> month!</h1>
                    <p class="is-size-3 mb-5">Right now we are <span id="phase-display"></span></p>
                    <div id="welcome-buttons" class="has-text-weight-bold">
                        <a class="button is-info is-outlined ">View Calendar</a>
                        <a id="action-button" class="button is-warning"><span id="action-text"></span></a>
                    </div>
                    <!--Partial: Calendar Modal-->
                   
                    <div class="is-size-4 mt-5 mb-5">
                      <p>The winning movie for this month is <span id="winning-movie-display"></span></p>
                    </div>
                    <div id="poster-display">
                      <!--source needs to be updated programmatically-->
                        <img id="winning-movie-poster" src="/public/images/temp-poster-kfp.jpg" alt="winning movie poster" class="poster">
                    </div>
                </div>
            </div>
        </div>
    </section>

       </section>
      </main>
  
  <script src="/public/javascript/mwf-misc.js"></script>
  <script src="/public/javascript/phase.js"></script>
  <script src="https://kit.fontawesome.com/76aa510a07.js" crossorigin="anonymous"></script>
</body>

</html>