<div id="about-mwf" class="container is-size-5">
    <h1 class="is-size-2 pb-6 has-text-weight-bold">About Movies with Friends</h1>
    <div class="about">
        <p>Movies with Friends connects you with like-minded movie buffs to select interesting movies, rate them and discuss them. Movie selections are presently limited to Peacock's free offerings but watch for more choices in streaming services in the future.
        </p>
        <p>Each month is a new genre. Members can view a list of movies in that genre and nominate up to five titles to be voted on. When nominations close, then voting begins! Cast up to five votes distributed as you like among the nominated movies. The movie with the most votes is the winner! Members can arrange watch parties or watch the movie on their own time, and the forums open for group discussion... just make sure to only put spoilers in the sopilers forum! Movies with Friends is a great way to discover new movies and share your opinions, not to mention connect with other movie lovers. Join us today!
        </p>
    </div>
    <div>
        <h2 class="is-size-3 py-3 has-text-weight-semibold">The MwF Cycle</h2>
        <p>
            <ol>
                <li>The Genre of the Month is announced at the beginning of every month, and the full annual calendar can also be viewed on the Member Welcome Page.</li>
                <li>Nominations open on the first of every month and close on the 5th. The Member Welcome Page has a button that will take you to the list of movies for nomination.</li>
                <li>Voting takes place over the course of two days, the 6th through the 7th.</li>
                <li>The movie with the most votes is the winner.</li>
                <li>Time to watch the movie! Discussion opens on the 8th and stays open until the last day of the month.</li>
                <li>Repeat!</li>
            </ol>
        </p>
    </div>

    <div>
    <h2 class="is-size-3 has-text-weight-semibold py-3">A word on spoilers...</h2>
    <p><span class="has-text-weight-bold">What actually is a spoiler?
    </span> A spoiler is any piece of information that reveals significant plot details or outcomes of a movie, potentially ruining the surprise or suspense for someone who has not yet watched the movie.
    </p>
    <p><span class="has-text-weight-bold">What is Movies with Friends' policy on spoilers?</span> Don't be a spoil-sport! We have two separate forums for a reason... if you are trying to learn more about a movie to see if it is something you'll enjoy, steer clear of the spoiler forum. If you want to post in the discussion, when in doubt about if your message contains a spoiler, play it safe and stick to the spoiler forum. Please be considerate of and courteous to your fellow members. </p>
    </div>
    <div>
        <h2 class="is-size-3 has-text-weight-semibold">The MwF Code of Conduct</h2>
        <p>
            <ol>
                <li>Be respectful of others. We are all here to enjoy movies and have fun.</li>
                <li>Keep it clean. No profanity, hate speech, or inappropriate content.</li>
                <li>Be considerate of others' opinions. We all have different tastes in movies.</li>
                <li>Keep spoilers in the spoiler forum.</li>
                <li>Stay involved! We won't have a movie of the month without your nominations and votes, so remember to visit often so you don't miss any of the action... or comedy... or... </li>
                <li>Above all, have fun!</li> 
            </ol>
        </p>
    </div>
</div>
