<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Movies with Friends</title>
  <link rel="stylesheet" href="https://use.typekit.net/paw5dsc.css">
 <!-- <link rel="stylesheet" href="/css/jass.css"> -->
  <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <div class="container">
    <div><span id="comment">0</span> Discussions</div>
    <div class="local"></div>
    <div class="commentbox">
        <div class="content">
          
            <div id="discussionInput" class="hidden">
                <input type="text" placeholder="Enter comment" class="usercomment">
                <div class="buttons">
                    <button type="submit" disabled id="publish">Publish</button>
                </div>
            </div>

           
        </div>
    </div>
</div>
</div>

<script src="../../public/javascript/dom.js"></script>
</body>
