<!--this will become landing.handlebars-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Movies with Friends</title>

 <!-- <link rel="stylesheet" href="/css/jass.css"> -->
  <link rel="stylesheet" href="/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.typekit.net/paw5dsc.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
    
<section class="hero is-black is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <!--navigation-->
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <!--connect to home-->
            <a class="navbar-item">
              <img src= "/images/MwF-alt-logo.png" alt="Movies with Friends">
            </a>
            <span class="navbar-burger has-text-light" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroA" class="navbar-menu has-text-light">
            <div class="navbar-end">
              <a class="navbar-item">
                About Movies with Friends
              </a>
              <a class="navbar-item">
                Contact Us
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body theater">
      <div class="container has-text-centered pt-2 px-6">
        <section class="top-start">
            <h1 class="has-text-light has-shadow is-size-3-mobile is-size-2-tablet is-size-2-desktop">You might want to join <span class="chennai">Movies with Friends</span> if...</h1>
        </section>
        <section>
         <p class="has-text-warning is-size-5"><span><i class="fa-solid fa-people-line is-size-3 mt-2 mr-3"></i></span>You love to watch movies AND discuss them with other people.</p>
        </section>
        <section>
            <p class="has-text-info is-size-5"><span><i class="fa-solid fa-pen-to-square is-size-3 mt-2 mr-3"></i></span>You like to read and write reviews on major movie websites.</p> 
        </section>
        <section>
            <p class="has-text-success is-size-5"><span><i class="fa-solid fa-share-nodes is-size-3 mt-2 mr-3"></i></span>You post about movies on other social media platforms, <br />but not everyone shares your passion for analysis or has watched the same films.</p>
        </section>
      </div>
    </div>

     <!--Call to action-->
     <container class="has-text-centered mx-auto">
      <div class="column">
          <p class="is-size-5 has-text-light">Sign up for <span class="chennai">Movies with Friends</span> today and join the conversation!</p>
      </div>
  
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">

      <!--sign up box, visible when the sign up button is clicked-->
      
  <container id="signup-newuser" class="hidden-form">
    <div class="row">
    <div class="col-md-6">
      <h2 class="is-size-3 my-4 pb-3">Sign Up to Become a Member of <span class="chennai">Movies with Friends</span>.</h2> 
  
      <form id="signup-form" class="form login-form p-5">

        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input class="form-input" type="text" id="first_name" />
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input class="form-input" type="text" id="last_name" />
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
            <label for="password2">Confirm Password:</label>
            <input class="form-input" type="password" id="confirm-password" />
        </div>
        <div class="form-group">
            <label for="user_name">Create a User Name:</label>
            <input class="form-input" type="text" id="user_name" />
        </div>
        <div class="form-group">
            <label for="user_name">What state do you live in?:</label>
            <select id="state" name="state">
                <optgroup label="A">
                  <option value="Alabama">Alabama</option>
                  <option value="Alaska">Alaska</option>
                  <option value="Arizona">Arizona</option>
                  <option value="Arkansas">Arkansas</option>
                </optgroup>
                <optgroup label="C">
                  <option value="California">California</option>
                  <option value="Colorado">Colorado</option>
                  <option value="Connecticut">Connecticut</option>
                </optgroup>
                <optgroup label="D">
                  <option value="Delaware">Delaware</option>
                </optgroup>
                <optgroup label="F">
                  <option value="Florida">Florida</option>
                </optgroup>
                <optgroup label="G">
                  <option value="Georgia">Georgia</option>
                </optgroup>
                <optgroup label="H">
                  <option value="Hawaii">Hawaii</option>
                </optgroup>
                <optgroup label="I">
                  <option value="Idaho">Idaho</option>
                  <option value="Illinois">Illinois</option>
                  <option value="Indiana">Indiana</option>
                  <option value="Iowa">Iowa</option>
                </optgroup>
                <optgroup label="K">
                  <option value="Kansas">Kansas</option>
                  <option value="Kentucky">Kentucky</option>
                </optgroup>
                <optgroup label="L">
                  <option value="Louisiana">Louisiana</option>
                </optgroup>
                <optgroup label="M">
                  <option value="Maine">Maine</option>
                  <option value="Maryland">Maryland</option>
                  <option value="Massachusetts">Massachusetts</option>
                  <option value="Michigan">Michigan</option>
                  <option value="Minnesota">Minnesota</option>
                  <option value="Mississippi">Mississippi</option>
                  <option value="Missouri">Missouri</option>
                  <option value="Montana">Montana</option>
                </optgroup>
                <optgroup label="N">
                  <option value="Nebraska">Nebraska</option>
                  <option value="Nevada">Nevada</option>
                  <option value="New Hampshire">New Hampshire</option>
                  <option value="New Jersey">New Jersey</option>
                  <option value="New Mexico">New Mexico</option>
                  <option value="New York">New York</option>
                  <option value="North Carolina">North Carolina</option>
                  <option value="North Dakota">North Dakota</option>
                </optgroup>
                <optgroup label="O">
                  <option value="Ohio">Ohio</option>
                  <option value="Oklahoma">Oklahoma</option>
                  <option value="Oregon">Oregon</option>
                </optgroup>
                <optgroup label="P">
                  <option value="Pennsylvania">Pennsylvania</option>
                </optgroup>
                <optgroup label="R">
                  <option value="Rhode Island">Rhode Island</option>
                </optgroup>
                <optgroup label="S">
                  <option value="South Carolina">South Carolina</option>
                  <option value="South Dakota">South Dakota</option>
                </optgroup>
                <optgroup label="T">
                  <option value="Tennessee">Tennessee</option>
                  <option value="Texas">Texas</option>
                </optgroup>
                <optgroup label="U">
                  <option value="Utah">Utah</option>
                </optgroup>
                <optgroup label="V">
                  <option value="Vermont">Vermont</option>
                  <option value="Virginia">Virginia</option>
                </optgroup>
                <optgroup label="W">
                  <option value="Washington">Washington</option>
                  <option value="West Virginia">West Virginia</option>
                  <option value="Wisconsin">Wisconsin</option>
                  <option value="Wyoming">Wyoming</option>
                </optgroup>
              </select>
        </div>
        <div class="form-group">
            <fieldset>
                <legend>Select your favorite movie genres:</legend>

                <input type="checkbox" id="action" name="genre" value="action">
                <label for="action">Action</label><br>

                <input type="checkbox" id="comedy" name="genre" value="comedy">
                <label for="comedy">Comedy</label><br>

                <input type="checkbox" id="drama" name="genre" value="drama">
                <label for="drama">Drama</label><br>

                <input type="checkbox" id="thriller" name="genre" value="thriller">
                <label for="thriller">Thriller</label><br>

                <input type="checkbox" id="horror" name="genre" value="horror">
                <label for="horror">Horror</label><br>

                <input type="checkbox" id="romance" name="genre" value="romance">
                <label for="romance">Romance</label><br>

                <input type="checkbox" id="science fiction" name="genre" value="science fiction">
                <label for="science fiction">Science fiction</label><br>

                <input type="checkbox" id="fantasy" name="genre" value="fantasy">
                <label for="fantasy">Fantasy</label><br>

                <input type="checkbox" id="animation" name="genre" value="animation">
                <label for="animation">Animation</label><br>

                <input type="checkbox" id="documentary" name="genre" value="documentary">
                <label for="documentary">Documentary</label><br>

                <input type="checkbox" id="musical" name="genre" value="musical">
                <label for="musical">Musical</label><br>

                <input type="checkbox" id="mystery" name="genre" value="mystery">
                <label for="mystery">Mystery</label><br>

                <input type="checkbox" id="western" name="genre" value="western">
                <label for="western">Western</label><br>

                <input type="checkbox" id="historical-fiction" name="genre" value="historical fiction">
                <label for="historical fiction">Historical fiction</label><br>

                <input type="checkbox" id="biography" name="genre" value="biography">
                <label for="biography">Biography</label><br>

                <input type="checkbox" id="indie-films" name="genre" value="indie-films">
                <label for="indie-films">Indie Films</label><br>
              </fieldset>
        </div>
        <div class="form-group my-3">
            <label for="about_me">Tell us a little about yourself:</label>
            <input class="form-input" type="text" id="about_me" />
        </div>
        <div id="avatar-select" class="form-group mb-3">
            <fieldset>
                <legend>Select an avatar:</legend>
               
                <input type="checkbox" id="pac-danger" name="user_avatar" value="pac-danger">
                <label for="pac-danger."><img src="/images/pac-danger.png" alt="red"></label>

                <input type="checkbox" id="pac-info" name="user_avatar" value="pac-info">
                <label for="pac-info"><img src="/images/pac-info.png" alt="marine blue"></label>

                <input type="checkbox" id="pac-primary" name="user_avatar" value="pac-primary">
                <label for="pac-primary"><img src="/images/pac-primary.png" alt="teal green"></label>

                <input type="checkbox" id="pac-success" name="user_avatar" value="pac-success">
                <label for="pac-success"><img src="/images/pac-success.png" alt="green"></label>

                <input type="checkbox" id="pac-warning" name="user_avatar" value="pac-warning">
                <label for="pac-warning"><img src="/images/pac-warning.png" alt="yellow"></label>

                <input type="checkbox" id="pac-link" name="user_avatar" value="pac-link">
                <label for="pac-link"><img src="/images/pac-link.png" alt="royal blue"></label>
                
            </fieldset>
</div>
<div class="form-group my-5">
          <button id="submit-signup" class="btn btn-primary" type="submit">Sign up</button>
        </div>
      </form>
    </div>
   
  </div>
  </container>

<!--sign in box, visible when the sign in button is clicked-->
 <container id="signin-member" class="hidden-form">
          <form id="signin-form" class="box mx-auto level">
            <div class="level-left">

              <div class="field level-item">
                <label class="label has-text-grey-light is-size-6">Email:&nbsp;&nbsp;</label>
                <div class="control">
                  <input id="email-login" class="input" type="email" placeholder="e.g. luke@starwars.com">
                </div>
              </div>

              <div class="field level-item">
                <label class="label has-text-grey-light is-size-6">Password:&nbsp;&nbsp;</label>
                <div class="control">
                  <input id="password-login" class="input" type="password" placeholder="********">
                </div>
              </div>

            </div>
            
            <div class="level-right">
              <button id="landing-signin" class="button is-danger level-item pl-2">Sign in</button>
            </div>
          </form>

      </container> <!--end of sign in box--> 

<!--Buttons to open the sign up or sign in forms-->
       <div id ="entry-buttons" class="column">
            <a id="landing-showsignup" class="button m-2 hero-button is-danger">Sign Up</a>
            <a id = "landing-showlogin" class="button m-2 hero-button is-danger is-outlined">Member Sign In</a>
        </div>     


    

    </div>
  </section>
<script src="/javascript/mwf-misc.js"></script>
  <script src="/javascript/login.js"></script>
  <script src="https://kit.fontawesome.com/76aa510a07.js" crossorigin="anonymous"></script>


</html>