<body class="is-dark">
<main id="main-body" class="has-text-light test">

      <!--NOMINATION PAGE BEGINS-->
       <!-- Render the nominate.handlebars -->
       
      {{> user-header }}

    
       <section class="section">
        <div class="container has-text-centered">
            <div class="is-centered is-vcentered">
              <h1 class="is-size-1 mb-5">Make your nominations from the movies shown below.</h1>
              <p class="is-size-4">You may nominate up to five movies. The top five movies will move forward to the voting round. The nomination period ends on <span class="current-month-display"></span> 5th at 11:59 pm EST.</p>
                <div class="columns has-background-black p-3">
                  <div class="column is-two-thirds">
                   
                   <form id="nomination-form" class="form is-centered p-5">
                    <div class="form-group">
                     <fieldset id="nomination-fieldset">
                      
                      </div>

              
                
                    <!--buttons to view calendar and interact with the group-->
                    <div id="welcome-buttons" class="has-text-weight-bold buttons is-centered">
                       
                      <a id="show-calendar" class="button is-info is-outlined js-modal-trigger" data-target="calendarModal">View Calendar</a>
                       
           
                      <a id="action-button" class="button is-warning"><span id="action-text"></span></a>
    
                    </div>
                    <!--end buttons div-->


                   <div class="is-size-4 mt-5 mb-5">
                      <p>The winning movie for this month is <span id="winning-movie-display"></span></p>
                    </div>
                    <div id="poster-display">
                      <!--source needs to be updated programmatically-->
                        <img id="winning-movie-poster" src="/images/temp-poster-kfp.jpg" alt="winning movie poster" class="poster">
                    </div>
                </div>

                <!--Links to view the closed forums-->
                <div id="closed-forums" class="column is-one-third is-fullheight">
                  <div class="p-3 has-background-grey mt-6">
                    <p class="has-text-black is-size-4">Check out the forums from past months <br /><span class="is-size-5">(closed for discussion)</span></p>
                    <div class="is-size-5 has-text-light">
                      <!--Should be {{month}}: {{title}}-->
                      <p class="mb-3"><a href="">January: <br /><strong>Die Hard</strong></a></p>
                      <hr />
                      <p><a href="">February: <br /><strong>The Ark and the Darkness</strong></a></p>
                   </div>
                  </div>
                   
                </div>
            </div>
            </div>

                </div>
            </div>
        </div>
    </section>
                
      </main>
  
  <script src="/javascript/mwf-misc.js"></script>
  <script src="/javascript/phase.js"></script>
  <script src="https://kit.fontawesome.com/76aa510a07.js" crossorigin="anonymous"></script>

 
</body>