<!--This file will serve as the welcome.handlebars. Including the main/index code so it will display-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Movies with Friends</title>

  <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.typekit.net/paw5dsc.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body class="is-dark">
<main id="main-body" class="has-text-light test">

      <!--Nominate PAGE BEGINS-->
       <!-- Render the nominate.handlebars -->
       
      {{{user-header}}}

       <!--List of movies to nominate
      
Movie 1 Title (year) 
link to movie 1 trailer
Movie 2 Title (year) 
link to movie 2 trailer
Movie 3 Title (year) 
link to movie 3 trailer
Movie 4 Title (year) 
link to movie 4 trailer
Movie 5 Title (year) 
link to movie 5 trailer
Movie 6 Title (year) 
link to movie 6 trailer
Movie 7 Title (year) 
link to movie 7 trailer
Movie 8 Title (year) 
link to movie 8 trailer
Movie 9 Title (year) 
link to movie 9 trailer
Movie 10 Title (year) 
link to movie 10 trailer
Movie 11 Title (year) 
link to movie 11 trailer
Movie 12 Title (year) 
link to movie 12 trailer
Movie 13 Title (year) 
link to movie 13 trailer
Movie 14 Title (year) 
link to movie 14 trailer
Movie 15 Title (year) 
link to movie 15 trailer
    
      
      -->
       
       
  
  <script src="/public/javascript/mwf-misc.js"></script>
  <script src="/public/javascript/phase.js"></script>
  <script src="https://kit.fontawesome.com/76aa510a07.js" crossorigin="anonymous"></script>

              <!--end group-calendar.handlebars ************************* -->
</body>

</html>