<!--This file will serve as the nominate.handlebars. Including the main/index code so it will display-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Movies with Friends</title>

  <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="https://use.typekit.net/paw5dsc.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body class="is-dark">
<main id="main-body" class="has-text-light test">

<!--Nominate PAGE BEGINS-->
{{> user-header }}  
<section class="section">
 <div class="container has-text-centered">
     <div class="is-centered is-vcentered">
       <h1 class="is-size-2 mb-5">Make your nominations from the movies shown below.</h1>
       <p class="is-size-4">You may nominate up to five movies to advance to the voting round.<br /> 
       The nomination period ends on <span class="current-month-display"></span> 5th at 11:59 pm EST.</p>
         <div class="columns has-background-black p-3">
           <div class="column is-two-thirds">
            
            <form id="nomination-form" class="form is-centered p-5">
             <div class="form-group">
              <fieldset id="nomination-fieldset">
               <legend class="is-size-4">Movies available on Peacock in the <span class="genre-display"></span></span> genre</legend>
               <div class="columns is-multiline is-centered">
                 <!--Movies will be added here programmatically-->
                 {{#each movie}}
                 <input type="checkbox" id="movie-{{movie.id}}" name="{{movie.title}}" value="{{movie.title}}">
         <label for="{{movie.title}}">{{movie.title}}</label><br /></label>
           {{/each}}
       </div>
       </fieldset>
               <div class="form-group my-5">
           <button id="submit-nominations" class="btn btn-primary" type="submit">Nominate</button>
         </div>
       </div>
       </form>                 
     </div>
     </div>
     </div>
</div>
</section>
<!--end nominate.handlebars ************************* -->  
</main>
  
  <script src="/public/javascript/mwf-misc.js"></script>
  <script src="/public/javascript/phase.js"></script>
  <script src="https://kit.fontawesome.com/76aa510a07.js" crossorigin="anonymous"></script>


</body>

</html>