<!--This file will serve as the profile.handlebars. Including the main/index code so it will display-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movies with Friends</title>

    <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/paw5dsc.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body class="is-dark">
    <main id="main-body" class="has-text-light test">

<!--PROFILE PAGE BEGINS-->
<!-- Render the profile.handlebars -->

{{{user-header}}} <!-- This is the user-header.handlebars partial -->

<div id="user-profile" class="container is-size-5">
    <h1 class="is-size-3">My Profile</h1>
    <div class="profile">
    <!--in handlebars, replace with:
                    <h2 class="is-size-2 my-4"><img src="/public/images/{{user_avatar}}" alt="Avatar" class="avatar inline-image"> Hi, {{user_name}}</h2> -->
        <h2 class="is-size-2 my-4"><img src="/public/images/pac-success.png" alt="Avatar" class="avatar inline-image"> Hi, MovieManiac77</h2>

        <p>Name:&emsp;{{name_first}} {{user.name_last}}</p>
        <p>Email:&emsp;{{email}}</p>
        <p>Hailing from:&emsp;{{state}}</p>

            <hr />

        <p>My favorite movie genres: {{user.favorite_genres}}</p>
        <p>My favorite movies: {{user.favorite_movies}}</p>
        <p>About me: {{user.about_me}}</p>

            <hr />

            <div>
                <h2 class="is-size-4">>Movies I have nominated:</h2>
                <ul>
                  {{#each user.Nominations}}
                    <li>{{this.title}}</li>
                  {{/each}}
                </ul>
            </div>

            <hr />

            <div>
                <h2 class="is-size-4">>Movies I have voted for:</h2>
                <ul>
                  {{#each user.UserMovieVote}}
                    <li>{{this.title}}</li>
                  {{/each}}
                </ul>
    </div>
</div>

<!--end group-calendar.handlebars ************************* -->
        </main>
</body>

</html>