<!--This file will serve as the welcome.handlebars. Including the main/index code so it will display-->


<body class="is-dark">
<main id="main-body" class="has-text-light test">

      <!--WELCOME PAGE BEGINS-->
       <!-- Render the welcome.handlebars -->
       
      {{{user-header}}}

       <!--Group Stage-->
       
       <section class="section">
        <div class="container has-text-centered">
            <div class="is-centered is-vcentered">
              <h1 class="is-size-1 mb-5"><span id="current-month-display"></span> is <span id="genre-display" class="chennai"></span> month!</h1>
                <div class="columns has-background-black p-3">
                  <div class="phase-info column is-two-thirds">
                   
                    <p class="is-size-3 mb-5">Right now we are <span id="phase-display"></span></p>
                
                    <!--buttons to view calendar and interact with the group-->
                    <div id="welcome-buttons" class="has-text-weight-bold buttons is-centered">
                       
                      <a id="show-calendar" class="button is-info is-outlined js-modal-trigger" data-target="calendarModal">View Calendar</a>
                       
           
                      <a id="action-button" class="button is-warning"><span id="action-text"></span></a>
    
                    </div>
                    <!--end buttons div-->


                   <div class="is-size-4 mt-5 mb-5">
                      <p>The winning movie for this month is <span id="winning-movie-display"></span></p>
                    </div>
                    <div id="poster-display">
                      <!--source needs to be updated programmatically-->
                        <img id="winning-movie-poster" src="/images/temp-poster-kfp.jpg" alt="winning movie poster" class="poster">
                    </div>
                </div>

                <!--Links to view the closed forums-->
                <div id="closed-forums" class="column is-one-third is-fullheight">
                  <div class="p-3 has-background-grey mt-6">
                    <p class="has-text-black is-size-4">Check out the forums from past months <br /><span class="is-size-5">(closed for discussion)</span></p>
                    <div class="is-size-5 has-text-light">
                      <!--Should be {{month}}: {{title}}-->
                      <p class="mb-3"><a href="">January: <br /><strong>Die Hard</strong></a></p>
                      <hr />
                      <p><a href="">February: <br /><strong>The Ark and the Darkness</strong></a></p>
                   </div>
                  </div>
                   
                </div>
            </div>
            </div>

                </div>
            </div>
        </div>
    </section>

       </section>
                
      </main>
  
  <script src="/javascript/mwf-misc.js"></script>
  <script src="/javascript/phase.js"></script>
  <script src="https://kit.fontawesome.com/76aa510a07.js" crossorigin="anonymous"></script>

  <!--Partial: Calendar Modal ****************************-->
                    <!--{{{group-calendar}}} -->
                    <div id="calendarModal" class="modal">
                      <div class="modal-background"></div>
                      <div class="modal-content">
                        <div class="box table-container">
                          <h1 class="title">Movies with Friends 2024 Calendar</h1>
                          <p>Below is the schedule for the year. Please note that the schedule is subject to change.</p>
                        <table class="table is-striped is-narrow is-fullwidth">
                          <thead class="has-background-info-light">
                            <tr>
                              <th>Month</th>
                              <th>Genre</th>
                              <th>Movie Title</th>
                              <th>Nominations Open</th>
                              <th>Nominations Close</th>
                              <th>Voting Opens</th>
                              <th>Voting Closes</th>
                              <th>Rating and Discussion Opens</th>
                              <th>Rating and Discussion Closes</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                  <th>January</th>
                                  <td>Action</td>
                                  <td>Die Hard</td>
                                  <td>1/1/24</td>
                                  <td>1/5/24</td>
                                  <td>1/6/24</td>
                                  <td>1/7/24</td>
                                  <td>1/8/24</td>
                                  <td>1/31/24</td>
                                </tr>
                                <tr>
                                  <th>February</th>
                                  <td>Documentary</td>
                                  <td>The Ark and the Darkness</td>
                                  <td>2/1/24</td>
                                  <td>2/5/24</td>
                                  <td>2/6/24</td>
                                  <td>2/7/24</td>
                                  <td>2/8/24</td>
                                  <td>2/29/24</td>
                                </tr>
                                <tr>
                                  <th>March</th>
                                  <td>Comedy</td>
                                  <td>Kung Fu Panda 4</td>
                                  <td>3/1/24</td>
                                  <td>3/5/24</td>
                                  <td>3/6/24</td>
                                  <td>3/7/24</td>
                                  <td>3/8/24</td>
                                  <td>3/31/24</td>
                                </tr>
                                <tr>
                                  <th>April</th>
                                  <td>Sci-fi/Fantasy</td>
                                  <td>Spider-Man: Across the Spider-Verse</td>
                                  <td>4/1/24</td>
                                  <td>4/5/24</td>
                                  <td>4/6/24</td>
                                  <td>4/7/24</td>
                                  <td>4/8/24</td>
                                  <td>4/30/24</td>
                                </tr>
                                <tr>
                                  <th>May</th>
                                  <td>Thrillers</td>
                                  <td>TBD</td>
                                  <td>5/1/24</td>
                                  <td>5/5/24</td>
                                  <td>5/6/24</td>
                                  <td>5/7/24</td>
                                  <td>5/8/24</td>
                                  <td>5/31/24</td>
                                </tr>
                                <tr>
                                  <th>June</th>
                                  <td>Anime</td>
                                  <td>TBD</td>
                                  <td>6/1/24</td>
                                  <td>6/5/24</td>
                                  <td>6/6/24</td>
                                  <td>6/7/24</td>
                                  <td>6/8/24</td>
                                  <td>6/30/24</td>
                                </tr>
                                <tr>
                                  <th>July</th>
                                  <td>Classics</td>
                                  <td>TBD</td>
                                  <td>7/1/24</td>
                                  <td>7/5/24</td>
                                  <td>7/6/24</td>
                                  <td>7/7/24</td>
                                  <td>7/8/24</td>
                                  <td>7/31/24</td>
                                </tr>
                                <tr>
                                  <th>August</th>
                                  <td>Horror</td>
                                  <td>TBD</td>
                                  <td>8/1/24</td>
                                  <td>8/5/24</td>
                                  <td>8/6/24</td>
                                  <td>8/7/24</td>
                                  <td>8/8/24</td>
                                  <td>8/31/24</td>
                                </tr>
                                <tr>
                                  <th>September</th>
                                  <td>Romance</td>
                                  <td>TBD</td>
                                  <td>9/1/24</td>
                                  <td>9/5/24</td>
                                  <td>9/6/24</td>
                                  <td>9/7/24</td>
                                  <td>9/8/24</td>
                                  <td>9/30/24</td>
                                </tr>
                                <tr>
                                  <th>October</th>
                                  <td>Mystery</td>
                                  <td>TBD</td>
                                  <td>10/1/24</td>
                                  <td>10/5/24</td>
                                  <td>10/6/24</td>
                                  <td>10/7/24</td>
                                  <td>10/8/24</td>
                                  <td>10/31/24</td>
                                </tr>
                                <tr>
                                  <th>November</th>
                                  <td>Biography</td>
                                  <td>TBD</td>
                                  <td>11/1/24</td>
                                  <td>11/5/24</td>
                                  <td>11/6/24</td>
                                  <td>11/7/24</td>
                                  <td>11/8/24</td>
                                  <td>11/30/24</td>
                                </tr>
                                <tr>
                                  <th>December</th>
                                  <td>Family Movies</td>
                                  <td>TBD</td>
                                  <td>12/1/24</td>
                                  <td>12/5/24</td>
                                  <td>12/6/24</td>
                                  <td>12/7/24</td>
                                  <td>12/8/24</td>
                                  <td>12/31/24</td>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <button class="modal-close is-large" aria-label="close"></button>
                    </div>
                    <!--end group-calendar.handlebars ************************* -->
</body>