<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>Welcome to our Movie App!</h1>
    <p>Enjoy browsing our collection of movies.</p>
    <ul>
      {{#each movies}}
        <li>{{this.title}}</li>
      {{/each}}
    </ul>

      <section class="section">
        <div class="container has-text-centered">
            <div class="is-centered is-vcentered">
              <h1 class="is-size-1 mb-5"><span id="current-month-display"></span> is <span id="genre-display" class="chennai"></span> month!</h1>
                <div class="columns has-background-black p-3">
                  <div class="phase-info column is-two-thirds">
                   
                    <p class="is-size-3 mb-5">Right now we are <span id="phase-display"></span></p>
                
                    <!--buttons to view calendar and interact with the group-->
                    <div id="welcome-buttons" class="has-text-weight-bold buttons is-centered">
                       
                      <a id="show-calendar" class="button is-info is-outlined js-modal-trigger" data-target="calendarModal">View Calendar</a>
                       
                      <a id="action-button" class="button is-warning"><span id="action-text"></span></a>

                    </div>
                    <!--end buttons div-->


                   <div class="is-size-4 mt-5 mb-5">
                      <p>The winning movie for this month is <span id="winning-movie-display"></span></p>
                    </div>
                    <div id="poster-display">
                      <!--source needs to be updated programmatically-->
                        <img id="winning-movie-poster" src="/public/images/temp-poster-kfp.jpg" alt="winning movie poster" class="poster">
                    </div>
                </div>

                <!--Links to view the closed forums-->
                <div id="closed-forums" class="column is-one-third is-fullheight">
                  <div class="p-3 has-background-grey mt-6">
                    <p class="has-text-black is-size-4">Check out the forums from past months <br /><span class="is-size-5">(closed for discussion)</span></p>
                    <div class="is-size-5 has-text-light">
                      <!--Should be {{month}}: {{title}}-->
                      <p class="mb-3"><a href="">January: <br /><strong>Die Hard</strong></a></p>
                      <hr />
                      <p><a href="">February: <br /><strong>The Ark and the Darkness</strong></a></p>
                   </div>
                  </div>
                   
                </div>
            </div>
            </div>

                </div>
            </div>
        </div>
    </section>

  </body>
</html>