body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.148);
}

#dynamicId {
font-size: xx-large;
text-align: center;
}

#post {
  text-align: center;
}

#img {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#description {
  text-align: center;
  margin: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav {
  display: inline-block;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

.title {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.subtitle {
  color: #555;
  font-size: 20px;
  margin-bottom: 10px;
}

#commentreply {
 display: none;
 padding-left: 10px;
 padding-right: 10px;
 padding-bottom: 20px;
}

#commentCounter {
  font-size: 20px;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  color: gray;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  color: white;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

footer {
  background-color: #333;
  color: #fff;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer-content p {
  margin: 0;
}

.footer-content ul {
  list-style-type: none;
  padding: 0;
}

.footer-content ul li {
  display: inline;
  margin-right: 10px;
}

.footer-content ul li a {
  color: #fff;
  text-decoration: none;
}

/* Styling the scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  background-color: rgba(0, 0, 0, 0.434); /* Background color of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

#parents {
  border: 2px solid #ccc;
  margin-bottom: 10px;
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

#parents1 {
  border: 2px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 50%;
}