/* font-family: "chennai", sans-serif;
font-weight: 700;
font-style: normal; */

/* font-family: "chennai", sans-serif;
font-weight: 300;
font-style: normal; */

.test {
    border: 1px;
    border-color: yellow;
    border-style: solid;
}

span.chennai {
    font-family: "chennai", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 125%;
}

main p, h1, h2, h3, h4, h5, h6 {
    line-height: 125%;
}

 .navbar-menu p {
    color:darkgray !important;
 }

.centered-image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 769px) {
    .desktop-image {
        display: block;
    }

    .mobile-image {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: block;
    }
}

