/* font-family: "chennai", sans-serif;
font-weight: 700;
font-style: normal; */

/* font-family: "chennai", sans-serif;
font-weight: 300;
font-style: normal; */

/* a little bit of temporary styling for comments */
.commentbox {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.commentbox > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* float: left; */
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.content {
    width: 100%;
}

.user {
    border: none;
    outline: none;
    margin: 5px 0;
    color: #808080;
    margin-left: 20px;
    padding: 10px;
}

.commentinput > input {
    border: none;
    padding: 10px;
    padding-left: 0;
    outline: none;
    border-bottom: 2px solid blue;
    margin-bottom: 10px;
    width: 95%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #808080;
}

.buttons > button {
    padding: 5px 10px;
    background: lightgrey;
    color: #808080;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.buttons > button.abled {
    background: blue;
    color: #fff;
}

.parents {
    font-family: Arial, sans-serif;
    display: flex;
    margin-bottom: 30px;
}

.parents h1 {
    font-size: 0.9em;
}

.parents p {
    margin: 10px 0;
    font-size: 0.9em;
}

.parents > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}


.date {
    color: #808080;
    font-size: 0.8em;
}
/* end of comments styling*/

/* pop up button drop down on click*/
#popup {
    display: none;
}


.test {
    border: 1px;
    border-color: yellow;
    border-style: solid;
}

span.chennai {
    font-family: "chennai", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 125%;
}

main p, h1, h2, h3, h4, h5, h6 {
    line-height: 125%;
}

 .navbar-menu p {
    color:darkgray !important;
 }

.centered-image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 769px) {
    .desktop-image {
        display: block;
    }

    .mobile-image {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: block;
    }
}

