/* font-family: "chennai", sans-serif;
font-weight: 700;
font-style: normal; */

/* font-family: "chennai", sans-serif;
font-weight: 300;
font-style: normal; */

/* a little bit of temporary styling for comments */
.commentbox {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.commentbox > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* float: left; */
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}

.content {
    width: 100%;
}

.user {
    border: none;
    outline: none;
    margin: 5px 0;
    color: #808080;
    margin-left: 20px;
    padding: 10px;
}

.commentinput > input {
    border: none;
    padding: 10px;
    padding-left: 0;
    outline: none;
    border-bottom: 2px solid blue;
    margin-bottom: 10px;
    width: 95%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #808080;
}

.buttons > button {
    padding: 5px 10px;
    background: lightgrey;
    color: #808080;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.buttons > button.abled {
    background: blue;
    color: #fff;
}

.parents {
    font-family: Arial, sans-serif;
    display: flex;
    margin-bottom: 30px;
}

.parents h1 {
    font-size: 0.9em;
}

.parents p {
    margin: 10px 0;
    font-size: 0.9em;
}

.parents > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    object-position: center;
}


.date {
    color: #808080;
    font-size: 0.8em;
}
/* end of comments styling*/

/* pop up button drop down on click*/
#popup {
    display: none;
}


.test {
    border: 1px;
    border-color: yellow;
    border-style: solid;
}

span.chennai {
    font-family: "chennai", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 125%;
    white-space: nowrap;
}

main p, h1, h2, h3, h4, h5, h6 {
    line-height: 125%;
    margin-left: 2em;
    margin-right: 2em;
}

main p {
    line-height: 115%;
}

.hero h1 {
    line-height: 125%;
    margin-left: 2em;
    margin-right: 2em;
}

.hero-body p {
    margin-top:.5em;
}
.navbar {
    background-color: #333;
    color: whitesmoke;
    font-family: "chennai", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 100%;
}

 .navbar-menu p {
    color:whitesmoke!important;
 }

 .navbar-item, .navbar-link {
    color:whitesmoke!important;
 }

 #main-body {
    background-color: #444444;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
 }

 .has-shadow {
    text-shadow: 2px 2px 8px #000000;
 }

.centered-image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.theater {
    background-image: url(/public/images/des/Theater-w-logo-des.png);
    background-position: center top;
    background-repeat: no-repeat;
}

#member-signin form {
    background-color: #333;
    border-style: groove;
    border-color: is-dark; 
    margin-bottom: 1em;
}

.label:not(:last-child), .field:not(:last-child) {
    margin-bottom: 0 !important;
}

.hidden-form {
    display: none;
    overflow: hidden;
    transition: height 0.5s;
}

.visible-form {
    display: block;
    height: 250px;

}


.hero-button {
    background-color: #f5f5f5;
    color: #000;
    border: 1px solid #000;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100%;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .theater {
        background-image: url(/public/images/mob/Theater-w-logo-mob.png);

    }
}
/*Tablet and Desktop*/
@media screen and (min-width: 769px) {
    .top-start h1{
        margin-top: 5em;
    }
}

/*Mobile*/
@media screen and (max-width: 768px) {
    .theater {
            background-image: url(/public/images/mob/Theater-w-logo-mob.png);
        }
    .top-start h1 {
        margin-top: 7em;
    }
}
    .mobile-image {
        display: block;
    }


